body {
    display: grid;
    gap: 80px;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Share Tech', 'Fira Sans', Arial, Helvetica, sans-serif;
}

img {
    display: block;
}


.botao1, .botao2 {
    border-radius: 100px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
}


/* Botão 1 */
.botao1 {
    border: 2px solid #268C92;
    color: #268C92;
}

.botao1:hover {
    color: #146A6F;
    border-color: #146A6F;
}

.botao1 img{
    height: 22px;
    width: 22px;
}


/* Botão 2 */
.botao2 {
    background: #1C7B81;
    color: #9FE6EA;
}

.botao2:hover {
    background: #0D565A;
    color: #7DD7DC;
}

.botao2 img{
    height: 22px;
    width: 22px;
}
