body {
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Share Tech', 'Fira Sans', Arial, Helvetica, sans-serif;
}

img {
    display: block;
}

/* Botão 1 */
.botao1 {
    border: 2px solid #268C92;
    border-radius: 100px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    color: #268C92;

}

.botao1 img{
    height: 22px;
    width: 22px;
}

/* Botão 2 */
.botao2 {
    background: #1C7B81;
    border-radius: 100px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    color: #9FE6EA;

}

.botao2 img{
    height: 22px;
    width: 22px;
}
