.introducao {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 140px;
}

.introducao h1 {
    font-size: 6rem;
}

.introducao-perfil {
    height: 460px;
    width: 460px;
    object-fit: cover;
    border-radius: 100%;
}

.destaque-do-texto {
    color: #359CA1;
}

.introducao-apresentacao-titulo-localizacao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.introducao-apresentacao {
    display: grid;
    gap: 40px;
    
}

.introducao-apresentacao-sobre {
    display: grid;
    gap: 20px;
}

.introducao-apresentacao-sobre-botoes {
    display: flex;
    gap: 40px;
}